<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="autoExercise.Utilities.ExtentListner"></listener>
	</listeners>
  <test thread-count="5" name="AutomationTests">
    <classes>
		<class name="autoExercise.TestCases.TC1_RegisterUser"/>
		<class name="autoExercise.TestCases.TC2_LoginUser"/>
		<class name="autoExercise.TestCases.TC3_RegisterUserWithExistingEmail"/>
        <class name="autoExercise.TestCases.TC4_ContactUsForm"/>
        <class name="autoExercise.TestCases.TC5_AddProductsInCart"/>
        <class name="autoExercise.TestCases.TC6_VerifyProductQauntityInCart"/>
        <class name="autoExercise.TestCases.TC7_AddReviewOnProduct"/>
		<class name="autoExercise.TestCases.TC8_VerifySubscription"/>
    </classes>
  </test> <!-- AutomationTests -->
</suite> <!-- Suite -->
